body{
    background: linear-gradient(whitesmoke,rgba(0, 184, 255, 0.4),#505be2eb,#59a259, #406f40);    background-size:contain;
    overflow:auto;
    min-width: 320px; 
    
}
#stars{
  position: relative;
   
    
}
canvas{
   display:inline;
/*    float:left; */
   bottom: 0;
   position: absolute;
   left: 5vw;
   Z-index:-1;
/*    border-bottom-left-radius: 3em; */
/*    border-bottom-right-radius: 3em; */
   

}
h1{
    top: 5vh; 
    font-family: 'Hanalei Fill',arial;
    font-size: 15vw;
    background: linear-gradient(blue, yellow);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
h2{
    font-size: 6vw;
}
h3{
    font-size:15vw;
    color: #5f1804;
    position:absolute;
    bottom:1vh;
    left:30vw;
    transform: rotateZ(-20deg) rotateY(30deg);
    opacity: .6;
    font-family: 'Shadows Into Light', 'cursive';    
}
img{
    width: 100%;
    max-width: 80vw;
    
}
/* #hangword{
    position:absolute;
    z-index:10;
} */
#text{
    /* z-index: 200;
    position: absolute;
    left: 0; */
   
    display:none;
}
#dummy{
    opacity: 0;
    overflow: hidden;
    cursor:default;
    caret-color: transparent;
 } 
 #header{
     position:relative;
     top:1vh;
 }
 #board{
    background-color: #ffffff10;
    font-family: 'Hanalei Fill',arial;
    border: green  .5em;
    border-radius: 3rem;
    color:white;
    font-size: 3vw;
    margin-top: 2rem;
    box-shadow: white 0rem 0rem 20rem 2rem;
    padding: 1rem;
    z-index:0;
}
#dinopad{
    height:auto;
    transition: .6s;
    padding:0; 
}
#dinopic{
    transform: rotateZ(-15deg) rotateY(75deg) rotateX(-18deg) scale(1);
    position:absolute;
    width: 80vw;
    max-width: 6000px;
    bottom:60vh;
    left: 7vh;
    z-index:1;
}
#figcaption{
    color:white;
    transform: rotateX(60deg) rotateZ(-30deg) ;
    position:absolute;
    bottom:50vh; 
    left: 7vh;   
    font-size: 10vw;
    transition: .6s;
    width:fit-content;
    display:inline-block;
    z-index:2;
}
#grass{
    background-image: url('../images/grass.jpg');
    background-size:contain;
    padding: 0;
    transform:rotateX(60deg);
    transform-origin:bottom;
/*     display:inline-block; */
    position: static; 
    bottom:0;
    height: 75vh;
}

@media only screen and (min-width: 900px){

    #dinopic{
        width: 90vh
    }
    #figcaption{
        top:1em;
        font-size: 12vh;
        font-weight: bold;
    }
}




