
.col{
    border: green dotted .5em;
    color: white;
    font-size: 1.25em;
    top:1vh;
}

 body{
    background: linear-gradient(whitesmoke,rgba(0, 184, 255, 0.4),#505be2eb,#59a259, #406f40 );
    background-size:contain;
    overflow:auto;
    min-width: 320px;
    min-height: 400px;

    
   
}
.grass{
    background-image: url('../images/grass.jpg');
    padding: 0;
    transform:rotateX(60deg);
    transform-origin:bottom;
/*     position:absolute; */
/*     height:70vh; */
    display:inline-block;
/*     position: fixed; */
    
     
     position: static; 
     bottom:0;
     height: 100vh;

}
#dummy{
   opacity: 0;
   caret-color: transparent;
   } 




.header{
    position:relative;
    top:1vh;

}

.dinopad{
    height:auto;
    max-width: 100vw;
    position:relative;
    transition: .6s;
    
    
    
}

#dinopic{
    transform: rotateZ(-15deg) rotateY(60deg) rotateX(-20deg) scale(1);
}

h1{
    top: 5vh; 
    font-family: 'Hanalei Fill',arial;
   font-size: 15vw;
   background: linear-gradient(blue, yellow);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   

}


h3{
    font-size:15vw;
   
    color: #5f1804;
/*     display:inline; */
    position:absolute;
    bottom:1vh;
    left:30vw;

    transform: rotateZ(-20deg) rotateY(30deg);
    opacity: .6;

    font-family: 'Shadows Into Light', 'cursive';
     
     
}
img{
    width: 20rem;
}

#figcaption{
    color:white;
    z-index: 1;
    transform: rotateX(60deg) rotateZ(-30deg) ;
    margin-top: 1rem;
/*     position:absolute; */
    bottom:0;
/*     top: 30rem; */
/*     transform-origin: unset;    */
/*     left:25vw; */
    
    font-size: 10vw;
    transition: .6s;
         width:fit-content;



}


.dinopic:hover + #figcaption, #figcaption:hover {
     transform: scale(1);
     positon:absolute;
/*      bottom:0; */
/*      transition: .6s; */
/*      bottom:5vh; */
     color:orange;
     text-decoration:underline;
     background:#0f77d24d;
}
 /*   
} 
@media only screeen and (max-width: 4000px){
    .grass {
        height:140vh;
    } 
}
@media only screeen and (max-width: 2000px){
    #figcaption {
        left: 30vw;
    }
}
@media only screen and (max-width: 1100px ){
    
     .grass{height:100vh;} 
    #figcaption{ left:30vw;}
}
@media only screen and ( max-width: 900px ){
    
    #dinopic:hover + #figcaption, #figcaption:hover { transform:scale(1.4) }


}
@media only screeen and (max-height: 650px){
     .dinopad{
        display:none;
    } 
    }
    

@media only screen and (max-width: 500px){
    #dinopic:hover + #figcaption, #figcaption:hover { right: 100vw; transform:scale(1.15);}
    #dinopic{width:50vw;}
    #figcaption{
        left:30vw;
    }
}



